body{
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}


.whatsapp-link {

    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 70px;
    right: 25px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

.up{
    
    background-color: rgb(31, 174, 231);
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 1000;
    top: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  

   
}


.ct{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    

}
.ct img{
    width: 20px;
      
}


.ct span{

    margin: 3px 25px 0px 0px;
    
   
}

.ct a{

    text-decoration: none;
    color: white;

}

/*
#logo img{
    width: 5.5%;
    left: 20%;
    float: left;
    
    top: 6%;
}
*/


.menu{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 5px;
    z-index: 1000;
    width: 100%;
    top: 40px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    font: normal bold 6px / 10px "Roboto", Helvetica, Arial, Verdana, sans-serif;
         
}

.logo{
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 50%;
   
}

.logo img{

    width: 40px;
    transition: .3s;
}

.links {

    height: 100%;
    width: 50%;
    display: flex;
    gap: 70px;
    justify-content:center;
    align-items: center;

   
     
        
}

.links span a{
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);    
    font-size: 11pt;    
  
}



.links a::after{

    content: "";
    background-color: black;
    height: 3px;
    width: 0%;
    display: block;
    margin: 4px auto;
    transition: .4s;

}

.links a:hover::after{

    width: 100%;
    
}



.menu #inicio{
    color: rgb(0, 72, 228);
}


.welcome{
    margin-top: 4%;
    margin-bottom: 5%;
    width: 100%;
}

.welcome img{
    height: 560px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;    
}



.welcome h1{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: -5%;
    font-weight: 700;
    font-size: 35pt;
    font-family: 'Roboto', sans-serif  ;

}

.objectivo img{
    height: 400px;
    width: 40%;
    margin-bottom: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.objectivo{
    background-color: rgb(255, 255, 255);
    margin-bottom: 13%;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.objectivo p{

    line-height: 1.2 ;
    font-size: 14pt;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}


.objectivo #p1{
    color: rgb(228, 35, 35);

}

.objectivo #p2{
    color: rgba(37, 37, 37, 0.849);
}

.objectivo p::selection{

    background-color: rgb(50, 228, 26);
    color: white;
}


 .beneficios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgb(31, 174, 231);
    height: 655px;
    width: 100%;
}

.beneficios .lista{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 40px ;


}

.beneficios .imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

}

.beneficios .imagem img{
    width: 550px;
    transition: .5s;

}

.beneficios .imagem img:hover{

    transform: scale(1.1);

}

.beneficios h2{
    
    color: #001eff;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;


}

.beneficios li{

    font-size: 20pt;
    margin-bottom: 15px;
    color: white;
}


.planos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 12%;
    font-family: Arial, Helvetica, sans-serif;
    
}



.p1, .p2, .p3{

    background-color: rgb(46, 177, 229);
    padding: 15px;
    border-radius: 15px;
    transition: .5s;

}



.p1:hover{

    margin-top: -50px;
    margin-bottom: 50px;
    animation: animate-outline .7s ease-out infinite;
    background-color: rgba(61, 166, 246, 0.934);
}

.p2:hover{

    margin-top: -50px;
    margin-bottom: 50px;
    animation: animate-outline .7s ease-out infinite;
    background-color: rgba(61, 166, 246, 0.934);
}



.p3:hover{

    margin-top: -50px;
    margin-bottom: 50px; 
    animation: animate-outline .7s ease-out infinite;
    background-color: rgba(61, 166, 246, 0.934);
}


.p1 h1, .p2 h1, .p3 h1{
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 50px;
    text-align: center;
    width: 400px;

   
}





.p1 ul li, .p2 ul li, .p3 ul li {
    margin-bottom: 10px;
    font-size: 14pt;
    color: white;

}




.pqct img{

    width: 30%;
    height: 250px;
    float: right;
    margin-top: 1%;
    margin-right: 10%;
    transition: .5s;
}

.pqct img:hover{

    transform: scale(1.1);

}

.pqct{
    background-color: rgb(31, 174, 231);
    width: 100%;
    margin-top: 13%;
    height: 320px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-bottom: -2.7%;
}


.pqct p{
    margin-top: -1%;
    margin-left: 13%;
}
.pqct h1{
    padding: 2%;
    margin-left: 11%;
}



.idea{

    width: 100%;
    height: 300px;
    background-color: #0034a3d9;
    text-align: center;
    font-family: 'Roboto', sans-serif  ;
}

.idea h1{

    padding: 40px; 
    color: rgb(255, 255, 255);
    font-size: 60px;

}

.idea a {

    padding: 18px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-color: rgb(31, 174, 231);
    text-decoration: none;  
    animation: animate-outline .8s ease-out infinite ;  
}

@keyframes animate-outline{

    from{
        outline: 0px solid  rgba(25, 167, 238, 0.918);

    }

    to {
        outline: 10px solid  rgba(36, 122, 234, 0.255);

    }
}


.divdown{

    margin-top: 2px;
    width: 100%;
    height: 350px;
    background-color: rgb(31, 174, 231);
    font-family: 'Roboto', sans-serif  ;
}

.divdown h3{
    color: rgb(255, 255, 255);
}

.divdown #links{

    margin-top: 0%;
    margin-left: 1%;
    padding: 5%;
    margin-bottom: -4%;
}

.divdown #contacto{
    display: none;
}

.divdown ul li a{

    color: rgb(37, 37, 37);
    text-decoration: none;
    margin-left: 4%;
    
}

.divdown  a:hover{
    color: rgb(255, 255, 255);
    
}

.divdown li{
    margin-bottom: 5px;
}

.divdown #tel, #mail{
    display: none;

}

.footer{

    overflow: hidden;
    background-color: #1b1b1b;
    width: 100%;
    height: 40px;
}

.footer p{

    margin-top: 12px;
    color: #ffffff;
    font-family: 14px 'Open Sans', sans-serif ;
    text-align: center;

}

 #subirTopo {
    text-decoration: none;
    bottom: -10px;
    left: 10px;
    color: rgb(0, 255, 55);
    text-align: center;
    cursor: pointer;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    font-family: sans-serif;
    opacity: 1;
    }
    
    #subirTopo:hover {
    opacity:1;
    }



/*Medias*/


@media screen and (max-width: 1030px) {

 
    #logo img{
        width: 35px;
        left: 20%;
        float: left;
        position: absolute;
        top: 8%;
    }
    
    

    .welcome{
        margin-top: 4%;
        margin-bottom: 5%;
        width: 100%;
    }
    
    .welcome img{
        height: 500px;
        width: 100%;    
    }
    
    
    .welcome h1{
        text-align: center;
        color: rgb(255, 255, 255);
        margin-top: -8%;
        font-weight: 700;
        font-size: 35pt;
        font-family: 'Roboto', sans-serif  ;
    
    }
    
    
    .objectivo img{
        height: 350px;
        width: 50%;
        margin-bottom: 2%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        
    }
    
    .objectivo{
        background-color: rgb(255, 255, 255);
        margin-bottom: 13%;
        padding: 2%;
        font-family: Arial, Helvetica, sans-serif ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    
    }
    
    .objectivo p{
    
        line-height: 1.2 ;
        font-size: 14pt;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }
    
    
     .beneficios{
        background-color: rgb(31, 174, 231);
        height: 655px;
        width: 100%;
        
        
        
    }
    
    .beneficios img{
        width: 30%;
        display: inline;
        float: right;
        margin-top: -27%;
        margin-right: 10%;
    }
    
    .beneficios h2{
        margin-top: 10%;
        color: #000000;
        font-family: "Poppins", Sans-serif;
        font-size: 28px;
        font-weight: 600;
        margin-left: 8%;
        padding: 5%;
    }
    
    .beneficios li{
        margin-bottom: 7px;
        font-size: 14pt;
        margin-left: 7.5%;
        color: white;
    }
    
    .pqct img{
        background-image: linear-gradient(to right, rgba(64, 135, 216, 0), rgb(37, 126, 222) );
        width: 25%;
        height: 200px;
        float: right;
        margin-top: 5%;
        margin-right: 8%;
    }
    
    .pqct{
        background-image: linear-gradient(to right, rgb(33, 123, 226), rgb(37, 126, 222) );
        width: 100%;
        margin-top: 13%;
        height: 320px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        margin-bottom: -2.7%;
    }
    
    
    .pqct p{
        margin-left: 12%;
        font-size: 11pt;
    }
    .pqct h1{
        padding: 3%;
        margin-left: 10%;
        font-size: 16pt;
    }
    

    .idea h1{
        font-size: 24pt;
    }

    #ctd{
        font-size: 14pt;
    }

    .divdown h3{
        font-size: 16pt;
    }

    .divdown a {
        font-size: 14pt;
    }
    

}

@media screen and (max-width: 1280px) {

 
    #logo img{
        width: 35px;
        left: 20%;
        float: left;
        position: absolute;
        top: 8%;
    }

}

@media screen and (max-width:920px) and (min-width:900px) {
    
    .up p{
        font-size: 12pt;
    }

    .links a{
        font-size: 12pt;
    }

    .objectivo p{
        font-size: 18pt;

    }

    .beneficios ul li{
        font-size: 18pt;

    }

    .planos ul li{
        font-size: 16pt;

    }

    .pqct p{
        font-size: 12pt;
    }

    .welcome h1{
        font-size: 26pt;
    }

    
}


@media (max-width: 650px){
    
    .up{
        position: relative;
        height: 25px;

    }

    .ct img{
        display: none;
        
       
    }
    
    .ct p{
        padding: 7px;
        
    }
    

    
    #one, #two{
        float: right;
        font-size: 10pt;
        margin-top: 1%;
        
    }

    #two{
        float: left;
    }
    
    #logo img{
        width:8%;
        left: 5%;
        float: left;
        position: absolute;
        top: 1%;
    }
    
    .menu{
        position: relative;
        z-index: 1000;
        width: 100%;
        top: 8px;
        height: 40px;
        font: normal bold 6px / 10px "Roboto", Helvetica, Arial, Verdana, sans-serif;
    }

    .links {
        float: right;
        margin-right: 25%;
        margin-top: 8px;
        display: flex;
        justify-content: center;
        width: 20%;
        padding: 10px;
            
    }
    
    .links a{
        margin-left: 10px;
        font-size: 12pt;
    }


    .welcome{
        margin-top: 4%;
        margin-bottom: 5%;
        width: 100%;
    }
    
    .welcome img{
        height: 500px;
        width: 100%;    
    }
    
    
    .welcome h1{
        text-align: center;
        color: rgb(255, 255, 255);
        margin-top: -12%;
        font-weight: 700;
        font-size: 30pt;
        font-family: 'Roboto', sans-serif  ;
    
    }
    
    
    .objectivo img{
        height: 300px;
        width: 60%;
        margin-bottom: 2%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        
    }
    
    .objectivo{
        background-color: rgb(255, 255, 255);
        margin-bottom: 13%;
        padding: 2%;
        font-family: Arial, Helvetica, sans-serif ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    
    }
        
     .beneficios{
        background-color: rgb(31, 174, 231);
        height: 655px;
        width: 100%;
        
    }
    
    .beneficios img{
        width: 45%;
        display: inline;
    
        margin-top: 0%;
        margin-right: 25%;
        
    }
    
    .beneficios h2{
        margin-top: 10%;
        color: #000000;
        font-family: "Poppins", Sans-serif;
        font-size: 28px;
        font-weight: 600;
        margin-left: 8%;
        padding: 5%;
    }
    
    .beneficios li{
        margin-bottom: 7px;
        font-size: 14pt;
        margin-left: 7.5%;
        color: white;
    }
    

    .pqct img{
        background-image: linear-gradient(to right, rgba(64, 135, 216, 0), rgb(37, 126, 222) );
        width: 30%;
        height: 180px;
        float: right;
        margin-top: 5%;
        margin-right: 6%;
    }
    

    .pqct p{
        margin-top: -1%;
        margin-left: 5%;
        font-size: 11pt;
    }
    .pqct h1{
        padding: 3%;
        margin-left: 3%;
        font-size: 16pt;
    }

 
    .divdown{
        margin-top: 2px;
        width: 100%;
        height: 350px;
        background-image: linear-gradient(to right, rgb(43, 102, 170), rgb(9, 75, 146) );
        font-family: 'Roboto', sans-serif  ;
    }
    
    .divdown h3{
        color: white;
        font-size: 15px;
    }
    
    .divdown #links{
        margin-top: 0%;
        margin-left: 1%;
        padding: 5%;
        margin-bottom: -4%;
    }
       
    .divdown ul li a{
        color: rgb(37, 37, 37);
        text-decoration: none;
        margin-left: 2%;
        font-size: 15px;
        
    }
   
    .idea h1{
        padding: 45px; 
        font-size: 20pt;
    
    }
    
    .idea a{
        padding: 18px;
        border-radius: 3px;
        font-weight: 700;
    }
       
    
    .whatsapp-link {
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 15px;
        right: 25px;
        background-color: #25d366;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 1px 1px 2px #888;
        z-index: 1000;
    }
    
    .fa-whatsapp {
        margin-top:10px;
    }
    

}


@media screen and (max-width: 500px) {

    .welcome h1{
        font-size: 24pt;
        margin-top: -14%;
    }

    .objectivo img{
        height: 250px;
        width: 70%;

    }

    .pqct img{
        display: none;
    }

}


@media screen and (max-width: 375px) {

    .up{
        display: none;

    }

    .menu a{
        font-size: 11pt;
        font-weight: 700;
    }

    .links{
        margin-right: 30%;
    }

    .welcome{
        margin-top: 4%;
        margin-bottom: 5%;
        width: 100%;
    }
    
    .welcome img{
        height: 400px;
        width: 100%;    
    }
    
    .welcome h1{
        text-align: center;
        color: rgb(255, 255, 255);
        margin-top: -15%;
        font-weight: 700;
        font-size: 20pt;
        font-family: 'Roboto', sans-serif  ;
    
    }
    
    
    .objectivo img{
        height: 250px;
        width: 90%;
        margin-bottom: 2%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        
    }
        
      
    .beneficios img{
        width: 65%;
        display: inline;
        margin-top: 0%;
        margin-right: 15%;
        
    }

    .beneficios h2{
        font-size: 15pt;
    }

    .beneficios ul li{
        margin-left: 0%;

    }
    
   
    .pqct{
        background-image: linear-gradient(to right, rgb(33, 123, 226), rgb(37, 126, 222) );
        width: 100%;
        margin-top: 13%;
        height: 320px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        margin-bottom: -4%;
    }

    .pqct img{
        background-image: linear-gradient(to right, rgba(64, 135, 216, 0), rgb(37, 126, 222) );
        width: 30%;
        height: 180px;
        float: right;
        margin-top: 5%;
        margin-right: 6%;
        display: none;
    }
    

    .pqct p{
        margin-top: -10px;
        margin-left: 15px;
        font-size: 11pt;
    }
    .pqct h1{
        padding: 5px;
        margin-left: 15px;
        font-size: 16pt;
    }

    
    .divdown h3{
        color: rgb(255, 255, 255);
        font-size: 15px;
    }
    
    .divdown #links{
        margin-top: 0%;
        margin-left: 1%;
        padding: 5%;
        margin-bottom: -5%;
    }

    .divdown #contacto{
        margin-top: -4%;
        margin-left: 1%;
        padding: 5%;
        margin-bottom: -5%;
        display: block;
    }
    
       
    .divdown ul li a{
        color: rgb(37, 37, 37);
        text-decoration: none;
        margin-left: 2%;
        font-size: 15px;
        
    }

    .divdown #tel, #mail{
        display: block;
    }

    
}


@media screen and (max-width: 310px) {

 
    .menu a{
        font-size: 10pt;
        font-weight: 700;
        margin-right: 5px;
    }

    .links{

        margin-right: 30%;
    }

    .welcome h1{
        font-size: 18pt;
    }


    .objectivo p{
        font-size: 12pt;

    }

    .beneficios ul li{
        font-size: 13pt;
    }

    .pqct h1{
        font-size: 14pt;
    }

    .pqct p{
        font-size: 10pt;
    }

    
}

@media screen and (max-width: 280px) {

    #logo img{
        width: 8%;
        left: 5%;
        float: left;
        position: absolute;
        top: 20%;
    }
    
    .welcome{
        margin-bottom: 10%;
    }
    
    .welcome img{
        height: 350px;
    }

    .welcome h1{
        font-size: 15pt;
        margin-top: -20%;
    }

    .objectivo p{
        font-size: 10pt;
    }

    .beneficios h2{
        font-size: 13pt;
        text-align: center;
        margin: 0;
    }

    .beneficios ul li{
        font-size: 12pt;
        margin: 0;
    }

    .beneficios img{
        width: 90%;
        margin-right: 2%;
    }

    .planos ul li{
        font-size: 10pt;
    }

    .pqct h1{
        font-size: 12pt;
        margin-left: 0;
    }

    .pqct p{
        font-size: 9pt;
        margin-left: 5px;
    }

    .idea h1{
        font-size: 16pt;
    }

    #ctd{
        font-size: 11pt;
    }

}