@import url('https://ftons.googleapis.com/css2?font=Inter:wght@300;400;500;600;700&display=swap'); 


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    


}

*::selection{

    background-color: rgb(50, 194, 237);
    color: white;
}


body{

    background-color: #dddcdc;
    overflow-x: hidden;
}


.whatsapp-link {
    

    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 70px;
    right: 25px;
    background-color: rgb(31, 174, 231);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

.up{
    
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    opacity: 100%;

   
}


.ct{
    padding: 5px;
    margin: 5px 10px ;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    gap: 25px;

}
.ct img{
    width: 20px;
    margin-right: 10px;
}

.ct span{

    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.ct a{

    color: white;
    text-transform: lowercase;
 
}

header{

    background-position: center;
    background-size: cover;
    background-attachment: fixed;


}


.container{

    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2%;

}

nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    margin: 40px 0px;
    
}

nav ul{

    display: flex;
    align-items: center;


}

nav ul a{

    color: rgb(23, 83, 235);
    margin: 0 25px;
    font-size: 20px;
    display: block;
    font-weight: 550;

}

nav img{
    width: 100px;
}

/*
nav ul a:not(.btn):after{

    content: "";
    background-color:  #df2f10;;
    height: 3px;
    width: 0%;
    display: block;
    margin: 4px auto;
    transition: .4s;

}

nav ul a:hover::after{

    width: 100%;
    
}*/



.banner{

    padding: 154px 0;
    display: flex;
    justify-content: center;
}


.banner .banner-text{

    text-align: center;
    margin: 10px 80px;
    padding: 150px 90px;

}

.banner .banner-text h1{
    color: white;
    font-size: 70px;

}

.banner .banner-text p{

    color: rgb(255, 255, 255);
    margin: 20px 0;
    font-size: 25px;
    font-weight: 500;

}

.banner .banner-text a{

    font-size: 25px;
    margin-top: 50px;


}



.btn{

    background-color: rgb(31, 174, 231);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: .3s;
    animation: animate-outline 1s ease-out infinite;
}



.btn:hover{

    background-color: #4f9cf9;
    

}



.textos{

  
    padding: 0px 200px;
    margin: 200px 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 80px;
    flex-wrap: wrap;
    
}

.textos h2{
    
    text-align: center;
    font-size: 28pt;

}

.textos p{

    font-size: 18pt;
    color: rgba(0, 0, 0, 0.877);
}



.qea{
    background-color: rgb(201, 198, 198);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    padding: 100px;
    gap: 100px;
}

#qeah{

    text-align: center;
    font-size: 28pt;
    color: rgb(0, 0, 0);
}

.missao, .criacaodesite {
    
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
    padding: 50px;
    height: 350px;
    width: 1200px;

 }


.missao h2, .criacaodesite h2{
    padding: 20px;
    margin-bottom: 20px;
    font-size: 28pt;
    text-align: center;
    color: rgb(255, 255, 255);

    
}

 .missao p, .criacaodesite p{
    text-align: center;
    font-size: 18pt;
    margin: 0px 50px;
}
 

.idea{

    width: 100%;
    height: 300px;
    padding: 50px;
    background-color: #064aa9d9;
    text-align: center;
}

.idea h1{
    
    color: rgb(255, 255, 255);
    font-size: 60px;
    margin-bottom: 50px;
}

.idea a {

    padding: 18px ;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-color: rgb(31, 174, 231);
     
}

@keyframes animate-outline{

    from{
        outline: 0px solid  rgba(25, 167, 238, 0.918);

    }

    to {
        outline: 10px solid  rgba(36, 122, 234, 0.255);

    }
}


.divdown{
   
    display: flex;
    justify-content: space-between;
    align-items:stretch;
    padding: 100px;
    width: 100%;
    height: 500px;
    background-color: rgb(31, 174, 231);
    text-align:start;

}



.divdown h3{
    
    color: rgb(255, 255, 255);
    padding: 15px 0px;
    margin-bottom: 10px;

}

.divdown li{
    margin-bottom: 10px;
}

.divdown ul li a{
    
    color: rgb(37, 37, 37);
    font-size: 14pt;
    transition: .3s;
    
}

.divdown  ul li a:hover{
    color: rgb(255, 255, 255);
    
}


footer .cright{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
    width: 100%;
    height: 40px;
    color: #ffffff;
}


 #subirTopo {
    text-decoration: none;
    bottom: 5px;
    left: 2px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    font-size: 14pt;
    font-weight: 600;
    position: fixed;

}
    
    
    #subirTopo:hover {
    opacity:1;
    }


.t1::after {

    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
  }



  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }






/*Medias*/


@media screen and (max-width: 1000px) {

    #lg img{
        width: 5%;
        left: 20%;
        float: left;
        position: absolute;
        top: 8%;
    }
    
    
    .aa {
        float: right;
        margin-right: 25%;
        margin-top: 8px;
        display: flex;
        justify-content: space-between;
        width: 20%;
        padding: 10px;
       
         
            
    }
    
    .aa a{
    
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 12pt;
        margin-right: 20px;
    
    }

    .t1, .t2{

        font-size: 19pt;
    }

    .missao p, .criacaodesite p{

        font-size: 16pt;

    }

    .idea h1{
        font-size: 24pt;
    }

    #ctd{
        font-size: 14pt;
    }

    .divdown h3{
        font-size: 16pt;
    }

    .divdown a {
        font-size: 14pt;
    }
    
}


@media screen and (max-width: 1030px) {

 
    #lg img{
        width: 35px;
        left: 20%;
        float: left;
        position: absolute;
        top: 8%;
    }
}

@media screen and (max-width: 1280px) {

 
    #lg img{
        width: 35px;
        left: 20%;
        float: left;
        position: absolute;
        top: 8%;
    }

}


@media (max-width: 650px){
    
    .up{
        position: relative;
        height: 25px;
    }

    
    .ct img{
        display: none;
        
       
    }
    
    .ct p{
        padding: 7px;
        
    }
    

    
    #one, #two{
        float: right;
        font-size: 10pt;
        margin-top: 1%;
        
    }
    #two{
        float: left;
    }
    
    #lg img{
        width: 8%;
        left: 5%;
        float: left;
        position: absolute;
        top: 1%;
    }
    
    .about{
        position: relative;
        z-index: 1000;
        width: 100%;
        top: 10px;
        height: 40px;
        font: normal bold 6px / 10px "Roboto", Helvetica, Arial, Verdana, sans-serif;
        
            
}

    #image1{
        height: 500px;
        margin-top: 5%;
        width: 100%;
    }


    .aa {
        float: right;
        margin-right: 25%;
        margin-top: 8px;
        display: flex;
        justify-content: center;
        width: 20%;
        padding: 10px;
       
         
            
    }
    
    .aa a{
        margin-left: 10px;
        font-size: 12pt;
    }

    

    .divdown{
        margin-top: 2px;
        width: 100%;
        height: 350px;
        background-image: linear-gradient(to right, rgb(43, 102, 170), rgb(9, 75, 146) );
        font-family: 'Roboto', sans-serif  ;
    }
    
    .divdown h3{
        color: white;
        font-size: 15px;
    }
    
    .divdown #links{
        margin-top: 0%;
        margin-left: 1%;
        padding: 5%;
        margin-bottom: -4%;
    }
       
    .divdown ul li a{
        color: rgb(37, 37, 37);
        text-decoration: none;
        margin-left: 2%;
        font-size: 15px;
        
    }
 
    
    
    .qsft h1{
        text-align: center;
        color: white;
        background-image:linear-gradient(to right, #147cccec, #0770c0e1); 
        height: 50px;
        border-radius: 2px;
        font-weight: 700;
        font-size: 22pt;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        line-height: 59px;
        margin-top: -0.5%;
        
    }

    .textos{
        padding:2% ;
    }

    .t1, .t2{

        font-size: 13pt;
    }
    
     .qea{
        background-color: rgb(255, 255, 255);
        margin-top: 15%;
        margin-bottom: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    #qeah{
        text-align: center;
        color: rgb(0, 0, 0);
    }
     

    
    .missao, .criacaodesite {
        border: 3px dashed rgb(0, 0, 0);
        padding: 10px;
        font-family: sans-serif;
        color: rgb(0, 0, 0);
        margin-bottom: 4%;
     }
    
    
    .missao h1, .criacaodesite h1{
        
        font-size: 16pt;
            
    }

    .missao p, .criacaodesite p{
        font-size: 12pt;
    }
    
 
   
    .idea h1{
        padding: 45px; 
        font-size: 20pt;
    
    }
    
    .idea a{
        padding: 15px;
        border-radius: 3px;
        font-weight: 600;
    }
       
    
    .whatsapp-link {
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 15px;
        right: 5px;
        background-color: #25d366;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 1px 1px 2px #888;
        z-index: 1000;
    }
    
    .fa-whatsapp {
        margin-top:10px;
    }
    

}



@media screen and (max-width: 375px) {

    .up{
        display: none;

    }

    .about a{
        font-size: 11pt;
        font-weight: 700;
    }

    .aa{
        margin-right: 30%;
    }

    .qsft h1{
        text-align: center;
        color: white;
        background-image:linear-gradient(to right, #147cccec, #0770c0e1); 
        height: 50px;
        border-radius: 2px;
        font-weight: 700;
        font-size: 18pt;
        font-family: 'Roboto', sans-serif  ;
        width: 100%;
        line-height: 59px;
        margin-top: -0.5%;        
    }

        
     
    .missao h1, .criacaodesite h1{
        
        font-size: 14pt;
            
    }

    
    .divdown h3{
        color: rgb(255, 255, 255);
        font-size: 15px;
    }
    
    .divdown #links{
        margin-top: 0%;
        margin-left: 1%;
        padding: 5%;
        margin-bottom: -5%;
    }

    .divdown #contacto{
        margin-top: -4%;
        margin-left: 1%;
        padding: 5%;
        margin-bottom: -5%;
        display: block;
    }
    
       
    .divdown ul li a{
        color: rgb(37, 37, 37);
        text-decoration: none;
        margin-left: 2%;
        font-size: 15px;
        
    }

    .divdown #tel, #mail{
        display: block;
    }

    
}


@media screen and (max-width: 310px) {

 
    .about a{
        font-size: 10pt;
        font-weight: 700;
        margin-right: 5px;
    }

    .aa{

        margin-right: 30%;
    }

    .missao h1, .criacaodesite h1{
        
        font-size: 12pt;
            
    }

    .missao p, .criacaodesite p{
        font-size: 10pt;
    }
    
}

@media screen and (max-width: 280px) {

    #lg img{
        width: 8%;
        left: 5%;
        float: left;
        position: absolute;
        top: 20%;
    }
}